/*Written and notated by Bradlee Logan */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Global default/modifier*/
body {
    color: black;
    background-color: bisque;
    font-family: 'Roboto', sans-serif;

}

h1 {
    /*rem multiplies the measurement by ~16px*/
    font-size: 3rem;
}

footer {
    display: flex;
    justify-content: center;
}